<body>
	<div class="wrapper ">
		<%= render 'shared/sidebar'%>
		<div class="main-panel">
			<%= render 'shared/navbar'%>
			<div class="content">
				WELCOME

			</div>
			<%= render 'shared/footer'%>
		</div>
	</div>
</body>